<div class="sidebar">
	<div class="news-switch clearfix">
		<div class="popular-news switch"><%= __('Popular') %></div>
	</div>
  <% for(var i = 0; i < articles.length; i++){
        var article = articles[i]; %>
      <div class="sidenews clearfix">
        <a href="/<%= article.theme.url %>/<%= article.id %>">
          <div style="overflow: hidden;">
            <div class="rel-pic">
              <img src="<%= article.image %>" alt="/">
            </div>
            <p class="side-title"><%= article.title %></p>
            <p class="side-description"><%= article.description %></p>
          </div>          
          <div class="row">
            <div class="article-author col-md-8 col-sm-8 col-xs-8">
              <% if(!article.originalAuthor) { %>
                <%= article.author.name %>
              <% } else { %>
                <%= article.originalAuthor %>
              <% }  %>
            </div>
  		      <div class="publish-date col-md-4 col-sm-4 col-xs-4">
              <%= article.createdAtStr(__('locale')) %>
            </div>
          </div>
        </a>
      </div>
  <%}%>
</div>
