<h2>Articles</h2>
<a href="/admin">Back</a>

<h3><a href="/admin/articles/new">New article</a></h3>
<table class="table table-striped table-bordered table-admin">
	<thead></thead>
	<tbody>
		<% for(var i = 0; i < articles.length; i++){
				var article = articles[i]; %>
		<tr>		
			<td style="min-width: 300px;">
				<p><b><%= article.title %></b></p>
				<p><i><%= article.theme.title %></i></p>
				<p><span><%= article.createdAtStr(__('locale')) %></span></p>
				<p>by <i><%= article.author.name %></i></p>
				<p><a href="/<%= article.theme.url %>/<%= article.id %>">preview</a></p>
			</td>
			<td>
				<p><img src="<%= article.image %>"/></p>
			</td>
			<td>
				<p><%= article.description %></p>
			</td>
			<td class="editbox">
				<a href="/admin/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
				<form class="publish-form hidePublish" <% if(article.isPublished){ %>
					style="display:none"
				<% } %>
				> 
					<input type="hidden" name="id" value="<%= article.id %>" /> 
					<input type="submit" class="btn btn-success" value="Publish"/>
				</form>
				<form class="hide-form hidePublish"  <% if(!article.isPublished){ %>
					style="display:none"
				<% } %>
				> 
					<input type="hidden" name="id" value="<%= article.id %>" />
					<input type="submit" class="btn btn-danger" value="Hide"/>
				</form>
				
			</td>		
		</tr>
		<%}%>
	</tbody>

</table>

<% if (totalPages > 1) { %> 
	<div class="pagination-container">
		<ul class="pagination">
			<% 
			function getPageLink(page, isActive, linkClass){
				var link = '/admin/articles';

				link += '?page=' + page;
				var activeClass = '';
				if(isActive){
					activeClass = 'active';
				}

				linkClass = linkClass || '';

				var aTag = '<a href="' + link + '">' + page + '</a>';
				var liTag = '<li class="' + activeClass + ' ' + linkClass + '">' + aTag + '</li>';

				return liTag;
			}

			var showPages = 3;
			var downLimit;
			var topLimit;
			if (page<=3) {
				downLimit = 1;
			};
			if (totalPages-page<=showPages) {
				topLimit = totalPages+1;
			}
			%>
			<% if (page>showPages) { %>
				<%- getPageLink(1, false, 'first-page') %>
			<% } %>
			
			<% if (page != 1) { %>
				<%- getPageLink(page-1, false, 'prev-page') %>		
			<% } %>

			<% if (page>showPages) { %>
			<li><span>...</span></li>
			<% } %>

			<% for(var k = (downLimit || page - showPages) ; k < (topLimit || page + showPages + 1); k++){ %>
				<%- getPageLink(k, k == page) %>		
			<% } %>

			<% if (totalPages-page>showPages) { %>
			<li><span>...</span></li>
			<% } %>

			<% if (page != totalPages) { %>
				<%- getPageLink(page+1, false, 'next-page') %>		
			<% } %>

			<% if (totalPages-page>showPages) { %>
				<%- getPageLink(totalPages, false, 'last-page') %>		
			<% } %>

		</ul>
	</div>
<% } %>

<script src="/scripts/admin/AdminArticles.js"></script>