
<script src="/js/summernote.min.js"></script>
<script>
function showRepost(){
	if($('#isRepostCheck').is(":checked")){
    	$('.repostData').show();
    }else{
    	$('.repostData').hide();
    }
}

$(function() {
    $('#body-edit').summernote({
    	height: 600,
    	fontNames: [] //'Arial', 'Arial Black', 'Comic Sans MS', 'Courier New'
    });

    $('#edit-form').submit(function(){
    	var code = $('#body-edit').summernote('code');
    	if(!code){
    		alert('No text!');
    		return false;
    	}
    	$('#body').val(code);

    	if($('#isRepostCheck').is(":checked")){
	    	$('#isRepost').val(true);
	    }else{
	    	$('#isRepost').val(false);
	    }

    	return true;
    });

    showRepost();
    $('#isRepostCheck').change(showRepost);
});
</script>

<% if(!article.id){ %>
<h2>New article</h2>
<% } else { %>
<h2>Edit article</h2>
<% } %>
<a href="/admin">Back</a>
<!-- ToDo: preview link -->

<form action='/api/articles/save' method="post" id='edit-form'>
	<div class="form-group">
	    <label for="title">Title</label>
	    <input type="text" required class="form-control" name="title" id="title" value="<%= article.title || '' %>">
	</div>
	<div class="form-group">
	    <label for="description">Description</label>
	    <textarea class="form-control" maxlength="255" required name="description" id="description"><%= article.description || '' %></textarea>
	</div>
	<div class="form-group">
	    <label for="title">Meta keywords</label>
	    <input type="text" class="form-control" name="meta_keywords" id="meta_keywords" value="<%= article.meta_keywords || '' %>">
	</div>
	<div class="form-group">
	    <label for="theme">Theme</label>
	    <select required class="form-control" name="theme" id="theme">
	    	<% for(var i = 0; i < themes.length; i++){%>
	    	<option value="<%= themes[i].id %>"
	    	<%if(themes[i].id == article.theme){%>
	    		<%= "selected" %>
	    	<%}%>
	    	>
	    		<%= themes[i].title %>
	    	</option>
	    	<%}%>
	    </select>
	</div>
	<div class="form-group">
	    <label for="image">Image</label>
	    <input type="text" class="form-control"  name="image" id="image" value="<%= article.image || '' %>">
	</div>
	<div class="form-group">
	    <label for="isRepostCheck">Is repost</label>
	    <input type="hidden"  name="isRepost" id="isRepost" value="<%= article.isRepost || '' %>">
	    <input type="checkbox"  name="isRepostCheck" id="isRepostCheck" 
	    <% if(article.isRepost){ %>
	    	checked="checked"
	    <% } %> >
	</div>
	<div class="repostData">
		<div class="form-group">
		    <label for="originalUrl">Original Url</label>
		    <input type="text" class="form-control"  name="originalUrl" id="originalUrl" value="<%= article.originalUrl || '' %>">
		</div>

		<div class="form-group">
		    <label for="originalAuthor">Original Author</label>
		    <input type="text" class="form-control"  name="originalAuthor" id="originalAuthor" value="<%= article.originalAuthor || '' %>">
		</div>

		<div class="form-group">
		    <label for="originalAuthorImg">Original Author Image</label>
		    <input type="text" class="form-control"  name="originalAuthorImg" id="originalAuthorImg" value="<%= article.originalAuthorImg || '' %>">
		</div>
	</div>
	<div class="form-group main-body">
	    <label for="body">Text</label>
	    <input type="hidden" name="body" name="body" id="body" value="<%= article.body || '' %>" />
	    <div class="form-control" required id="body-edit" style="height: 600px;"><%- article.body || '' %></div>
	</div>
	<% if(article.id){ %>
	<input type="hidden" name="id" value="<%= article.id %>" />
	<% } %>
	<input type="submit" class="btn btn-success" value="Save"/>
</form>   


