<div class="row">
	<div class="col-lg-9 col-sm-8 article-body">
		<div class="row content">
			<h1 class="art-title"><%= article.title %></h1>

			<h3 class="art-theme">
				<div class="back">
					<a href="/<%= article.theme.url %>/">		
						<%= article.theme.title %>
					</a>				
				</div>
			</h3>		
			<hr class="separator" />

			<h4 class="author-info">
				<% if(!article.isRepost) { %>
				<a href="/<%= article.author.url %>/">
					<img class="author-img" src="<%= article.author.profilePicSmall %>" /> 
					<span class="author-name"><%= article.author.name %></span> 
				</a>
				<% } else { %>
				<img class="author-img" src="<%= article.originalAuthorImg %>" /> 
				<span class="author-name"><%= article.originalAuthor %></span> 
				<% }  %>
				<span class="art-date pull-right"><%= __('day_' + article.createdAt.getDay()) %>, <%= article.createdAtStr(__('locale')) %></span>
			</h4>		

			<p class="art-description"><%= article.description %></p>

			<div class="main-body">
				<%- article.body %>
			</div>
			
			<div class="view-statistic clearfix">
				<% if(data.isAuthor || true) { %>
				<div class="views"><%= article.views.length %></div>
				<% } %>
				<div class="sotial-icons pull-right">
					<div class="share-txt"> <%= __("Share")%>: </div>
                    <a class="soc-icon vk" href="#"></a>
                    <a class="soc-icon fb" href="#"></a>
                    <a class="soc-icon tw" href="#"></a>
                  </div>
			</div>
		</div>
		<div id="disqus_thread"></div>
		<script>

		var disqus_config = function () {
		this.page.url = '<%- data.origin %>' + '/' + '<%- article.theme.url %>' + '/' + '<%-article.id %>';
		this.page.identifier = '<%- article.theme.url %>' + '_' + '<%-article.id %>';
		};
		
		(function() {
		var d = document, s = d.createElement('script');
		s.src = 'https://the-living-thing-ru.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
		})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	</div>
	<div class="col-lg-3 col-sm-4" id='relates'>
	
	</div>
</div>
<input type="hidden" id='art-id' value="<%= article.id %>">

<script src="/scripts/article.js"></script>