<div class="row">
	<div class="col-lg-9 col-sm-8">
		<div class="row content">
			<h1><%= article.title %></h1>
			<p class="article-data">Опубликовано: <%= article.createdAt.toLocaleDateString() %></p>
			<div class="author-info">
				<p class="article-author"><strong><i><%= article.author.name %></i></strong></p>
				<img src="<%= article.author.profilePicLarge %>" alt="/">
			</div> 

			<p><%= article.description %></p>
			<p><%= article.body %></p>
			<div class="view-statistic clearfix">
				<div class="views">25</div>
				<div class="sotal-share pull-right">
					<div class="vk-share">25</div>
					<div class="vk-share">25</div>
					<div class="vk-share">25</div>
					<div class="vk-share">25</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-sm-4">
		<%- include sidebar.ejs %>		
	</div>
</div>

