<div class="row content articles-list">
	<% for(var i = 0; i < articles.length; i++){
		var article = articles[i]; %>
	<div class="col-md-12 main-article">
		<a href="/<%= article.theme.url %>/<%= article.id %>">
			<h2 class="art-title"><%= article.title %></h2>
		</a>
		<% if(!article.theme.hide) { %>
		<h3 class="art-theme">
			<div class="back">
				<a href="/<%= article.theme.url %>/">		
					<%= article.theme.title %>
				</a>				
			</div>
		</h3>		
		<hr class="separator" />
		<% } %>
		<a href="/<%= article.theme.url %>/<%= article.id %>">
			<div class="img-container">
				<img src="<%= article.image %>" class='img' alt="/" />
			</div>
			<p class="art-description"><%= article.description %></p>
		</a>
		
		<h4 class="author-info">
			<% if(!article.author.hide) { %>
				<% if(!article.isRepost) { %>
				<a href="/<%= article.author.url %>/">
					<div class="author-img rel-pic">
						<img src="<%= article.author.profilePicSmall %>" /> 
					</div>
					<span class="author-name"><%= article.author.name %></span> 
				</a>
				<% } else { %>
				<div class="author-img rel-pic">
					<img class="author-img" src="<%= article.originalAuthorImg %>" /> 
				</div>
				<span class="author-name"><%= article.originalAuthor %></span> 
				<% }  %>
			<% } %>
			<span class="art-date pull-right"><%= __('day_' + article.createdAt.getDay()) %>, <%= article.createdAtStr(__('locale')) %></span>
		</h4>
	</div>
	<%}%>
	<ul class="pagination">
	<% 
	var downLimit;
	var topLimit;
	if (page<=6) {
		downLimit = 1;
	};
	if (totalPages-page<=6) {
		topLimit = totalPages+1;
	}
	%>
	<% for(var k = (downLimit || page - 6) ; k < (topLimit || page + 6); k++){ %>
		<li <% if(k == page) { %> class="active" 
		<% } %>>
			<% if( typeof(theme) != 'undefined') { %>
			<a href="<%= "/" + theme.url + "?page=" + k %>"> <%= k %> </a>
			<% } else if( typeof(author) != 'undefined') { %>
			<a href="<%= "/" + author.url + "?page=" + k %>"> <%= k %> </a>
			<%	} else { %>
			<a href="<%= "/" + "?page=" + k %>"> <%= k %> </a>
			<% } %>
		</li>
	<% } %>
	</ul>
</div>

