
		<div class="row">
			<div class="col-lg-9 col-sm-8">
				<div class="row content">
					<% for(var i = 0; i < articles.length; i++){
						var article = articles[i]; %>
					<div class="col-lg-6 main-article">
						<a href="/p/<%= article.theme.url %>/<%= article.id %>">
							<img src="<%= article.image %>" alt="/">
							<h3><%= article.theme.title %></h3>
							<h2><%= article.title %></h2>
							<h4><i><%= article.author.name %></i>, <%= article.createdAt.toLocaleDateString() %> </h4>
							<p><%= article.description %></p>
						</a>
					</div>
					<%}%>
				</div>
			</div>
			<div class="col-lg-3 col-sm-4">
        <%- include sidebar.ejs %>				
			</div>
		</div>
