<!DOCTYPE html>
<html lang='<%= __('locale')%>'>
  <head>

    <meta property="og:locale" content="<%= __('locale_full')%>" />
    <meta property="og:site_name" content='<%= __('The Living Thing') %>' />

    <% if(meta){%>
    <title><%= __('The Living Thing') %> - <%= meta.title %></title>
    <meta property="og:title" content='<%= locals.title %>' />
    
    <meta property="og:url" 
    content='' />
    
    
    <meta property="og:description" content='<%- meta.description %>' />
    <meta property="og:image" content='<%- meta.image %>' />
    <meta property="og:image:secure_url" content='' />
    <link rel="image_src" href="" />

    <meta name="twitter:card" content="summary_large_image"/> 
    <meta name="twitter:site" content="@"/> 
    <meta name="twitter:creator" content="@"/> 
    <meta name="twitter:title" content="<%= __('The Living Thing') %> - <%= meta.title %>"> 
    <meta name="twitter:description" content="<%- meta.description %>"> 
    <meta name="twitter:image" content="">
    <link rel="canonical" href="" />

    <meta name="keywords" content="<%= meta.keywords %>">  

    <%}else{%>
    <title><%= __('The Living Thing') %></title>
    <%}%>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/summernote.css">
    <link rel="stylesheet" href="/styles/style.css">

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

  </head>

  <body>
    <header>
      <div class="back"></div>
      <div class="container clearfix">
        <div class="row">
          <div 
          class="col-md-12" 
          style="text-align: center;">
            
              <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6 logo-img-container">
                  <a href="/">
                    <img src="/images/hedg.png" alt="logo" class="logo" /> 
                  </a>
                </div>
                <!-- <div class="col-md-6 col-sm-6 col-xs-6 logo-txt-container"> -->
                <div class="col-md-6 col-sm-6 col-xs-6 logo-txt-container">
                  <a href="/">
                    <h1 class="logo-text"><%= __('The Living Thing') %></h1>
                    <h2 class="logo-subtext"><%= __('Live long and prosper') %></h2>
                  </a>
                </div>

                <div class="col-md-3  col-sm-3 col-xs-12">
                  <div class="sotial-icons">
                    <a class="soc-icon vk" href="#"></a>
                    <a class="soc-icon fb" href="#"></a>
                    <a class="soc-icon tg" href="#"></a>
                  </div>
                </div>

              </div>
            </div>
            <!-- <div class="col-sm-4">
              <div class="sotial-icons">
                <a class="vk" href="#"></a>
                <a class="vk" href="#"></a>
                <a class="vk" href="#"></a>
                <a class="vk" href="#"></a>
              </div>
            </div> -->
            <div class="col-xs-12 col-lg-12">
              <div class="dropdown">
              <ul class="menu">
                <li><a href = "/psychology/"><%= __('Psychology') %></a></li>
                <li><a href = "/music/"><%= __('Music') %></a></li>
                <li><a href = "/science/"><%= __('Science') %></a></li>
                <li><a class="about-link" href="/about"><%= __('About') %></a></li>
              </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          
        </div>
    </header>
  <div class="main">
      <div class="container">
        <%- body %>
      </div>
  </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-9">
            &copy;Tonki&#38;Tonki production
          </div>
          <div class="col-xs-3 about-wrap">
            <a class="about-link" href="/about"><%= __('About') %></a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
