<div class="sidebar">
	<div class="news-switch clearfix">
		<div class="popular-news switch"><%= __('Popular') %></div>
	</div>
  <% for(var i = 0; i < articles.length; i++){
        var article = articles[i]; %>
      <div class="sidenews clearfix">
        <a href="/<%= article.theme.url %>/<%= article.id %>">
          <div style="overflow: hidden;">
            <div class="rel-pic">
              <img src="<%= article.image %>" alt="/">
            </div>
            <p class="side-title"><%= article.title %></p>
            <p class="side-description"><%= article.description %></p>
          </div>          
          <p class="article-author">
            <% if(!article.originalAuthor) { %>
              <%= article.author.name %>
            <% } else { %>
              <%= article.originalAuthor %>
            <% }  %>
          </p>
		  <p class="publish-date"><%= article.createdAtStr(__('locale')) %></p>
        </a>
      </div>
  <%}%>
</div>
