<% if(theme){%>
<h2><%= theme.title %></h2>
<%} else if(author) {%>
<h2><img class="author-theme-img" src="<%= author.profilePicLarge %>" /><%= author.name %></h2>
<p><%= author.about %></p>
<%}%>
<div class="row">
	<div class="col-lg-12 col-sm-12">
		<%- include articlesList.ejs %>
	</div>
</div>
